$cream: #f7f8fa;
$white: #ffffff;
$blue: #003cff;
$dark: #1d1929;
$grey: #ababab; 
$orange: #ff6f03;
 
input {
  border-radius: 20px;
  background-color: $white;
  font-size: 14px;
  border: 1px solid $grey;
  outline: none;
  &:hover{
    border: 1px solid $dark;
}
  &:focus{
    border: 1px solid $blue;
}
}
label {
  position: relative;
}

.bi-search {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 30px;
  top: 12px;
  color: $dark;
}

.bi-sliders {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 30px;
    top: 12px;
  color: $dark;
}

.text {
margin: 20px;}